---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Clicksco .NET Handbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">

    <style type="text/css">
        body {
            padding-top: 40px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body data-spy="scroll" data-target="#main-navigation">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div data-spy="affix" data-offset-top="1">
                <img class="logo" src="img/logo.png" alt="" width="250"/>
                <hr />
                <ul class="nav nav-pills nav-stacked" id="main-navigation"></ul>
            </div>
        </div>

        <div class="documentation col-md-9">
            <div class="jumbotron">
                <div class="container">
                    <h1>.NET Handbook</h1>
                    <p>
                        Our aim is to bring .NET developers together to work using the same tools and the same way. We believe that ensuring that having some best-practice and basic principles in place will play a big part in both team and personal development.
                    </p>
                </div>
            </div>

{% for doc in site.pages %}
	{% assign parts = doc.url | split:'/' %}
	{% if parts[1] == 'docs' %}

<h1 class="page-header" id="{{ doc.id }}">{{ doc.title }}</h1>

{{ doc.content }}

{% if doc.wip %}
<span class="label label-default">Work in progress&hellip;</span>
{% endif %}

<hr />

	{% endif %}
{% endfor %}

            <p>Copyright 2013 Clicksco. All rights reserved.</p>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
		$('.page-header').each(function(i, e){
			e.id = e.id || 'chapter' + i;
		
			$('<a>')
				.attr('href', '#' + e.id)
				.text($(e).text())
				.appendTo('<li>')
				.parent()
				.appendTo('#main-navigation');
		});
	
        $('body').scrollspy( 'refresh' )
    });
</script>
</body>
</html>
